<div style="font-family: Arial, Helvetica, sans-serif;line-height:1.5;max-width:64em;margin-left:auto;margin-right:auto;">
  <h1 style="margin-left:auto;margin-right:auto;">BlocFX</h1>
  <span style="margin-left:auto;margin-right:auto;">
    Your verification code is: <strong>{{code}}</strong>
  </span>
</div>
