<div style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;">
  Dear {{ name }}
  <p>
    Please click on the link below to verify your identity on ShuftiPro:
  </p>
  <p>
    <a href="{{verificationUrl}}">Link to verification documents</a>
  </p>
  <p>
    Thank you for your continued loyalty.
  </p>
  <p style="color:#888888;">
    Kind regards, Support
    <a href="{{appUrl}}">
      BlockFx
    </a>
    <br/>
    <br/>
    <a href="{{appUrl}}">
      <img src="{{appUrl}}/assets/logo.png" width="120px" height="18px" alt="SuperCx"/>
    </a>
  </p>
</div>
