<div style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;">
  Dear {{ name }}
  <h3>
    Sorry, a verification error has occurred:
  </h3>

  {{#if errorMessage}}
  <h4>Error</h4>
  <p style="color: #cb1111;">
    {{errorMessage}}
  </p>
  {{/if}}

  <p>
    If you have not tried to register on the
    <a href="{{appUrl}}">{{appName}}</a>
    website, then simply ignore this letter.
  </p>
  <p>
    Otherwise, you can repeat the registration <a href="{{appUrl}}">{{appName}}</a>
  </p>
  <p>
    Thank you for your continued loyalty.
  </p>
  <p>
    <a href="{{appUrl}}/?request=upload-document&ui={{nonce}}">Verification links</a>
  </p>
  <p style="color:#888888;">
    Kind regards, Support
    <a href="{{appUrl}}">
      {{appName}}
    </a>
  </p>
</div>
