<style>
  main {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
    max-width: 64em;
    display: inline-block;
  }
  table {
    width: 100%;
    border: 1px solid gray;
    border-spacing: 0;
  }
  caption {
    font-size: 2em;
  }
  th {
    background: #aaa;
    padding: 0.5em;
  }
  td {
    border: 1px solid #999;
    text-align: center;
    padding: 1em;
  }
</style>
<main>
  <h1>BlocFX</h1>
  <table>
    <caption>Transaction details</caption>
    <tr>
      <th>From</th>
      <th>Amount</th>
      <th>currency</th>
      <th>status</th>
    </tr>
    <tr>
      <td>{{from}}</td>
      <td>{{amount}}</td>
      <td>{{currency}}</td>
      <td>{{status}}</td>
    </tr>
  </table>
</main>
