<div style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;">
  <h3>
    Transaction details
  </h3>
  <ul>
    {{#each details}}
      <li>
        <b>{{name}}</b>: {{#if value}}{{value}}{{else}}-{{/if}}
      </li>
    {{/each}}
  </ul>
</div>
